@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Reenie+Beanie&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  height: 100vh;
  background-color: #C1CEC1;
  position: relative;
  height: 100vh;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #C1CEC1;
}

::-webkit-scrollbar-thumb {
  background: #FFFDF0;
}

::-webkit-scrollbar-thumb:hover {
  background: #00433E;
}

.backgroundLemons, .smallBackgroundLemons {
  position: fixed;
  z-index: 1;
  opacity: 0.2;
  top: 0;
  left: 0;
  height: 100vh;
}
.backgroundLemons-top, .smallBackgroundLemons-top {
  position: fixed;
  right: 0;
}
.backgroundLemons-top img, .smallBackgroundLemons-top img {
  width: 350px;
  transform: translate(115px) rotate(80deg);
}
.backgroundLemons-bottom, .smallBackgroundLemons-bottom {
  position: fixed;
  bottom: 0;
}
.backgroundLemons-bottom img, .smallBackgroundLemons-bottom img {
  width: 350px;
  transform: translate(-100px, 40px);
}
.backgroundLemons-one, .smallBackgroundLemons-one {
  position: fixed;
  transform: translate(49px, 90px) rotate(60deg);
  right: 0;
}
.backgroundLemons-one img, .smallBackgroundLemons-one img {
  width: 150px;
}
.backgroundLemons-two, .smallBackgroundLemons-two {
  position: fixed;
  transform: translate(-75px) rotate(-16deg);
  bottom: 40%;
}
.backgroundLemons-two img, .smallBackgroundLemons-two img {
  width: 150px;
}
.backgroundLemons-three, .smallBackgroundLemons-three {
  position: fixed;
  transform: translate(65px) rotate(-40deg);
  bottom: 20%;
  right: 0;
}
.backgroundLemons-three img, .smallBackgroundLemons-three img {
  width: 150px;
}
.backgroundLemons-four, .smallBackgroundLemons-four {
  position: fixed;
  transform: translate(-20px) rotate(-2deg);
  bottom: -50px;
}
.backgroundLemons-four img, .smallBackgroundLemons-four img {
  width: 150px;
}

.AboutUs {
  width: 100%;
  margin: 105px auto 0;
  position: relative;
  display: flex;
  justify-content: center;
}
.AboutUs-container {
  z-index: 2;
  margin: 0 auto 95px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 900px;
  background-color: #FFFDF0;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.AboutUs-container h1 {
  font-family: "Reenie Beanie", cursive;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  word-spacing: -5px;
  width: 100%;
  margin: 40px auto 10px;
}
.AboutUs-container img {
  width: 140px;
  margin: 20px auto 0;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.AboutUs-container-intro-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-bottom: 20px;
}
.AboutUs-container-intro-text h2 {
  font-size: 22px;
  margin: 20px 0 0;
  font-weight: 700;
}
.AboutUs-container-intro-text h2 img {
  width: 30px;
  margin: 0 0 -6px 0;
  box-shadow: none;
}
.AboutUs-container-intro-text p {
  font-family: "Dosis", sans-serif;
  font-size: 18px;
  font-weight: 500;
  display: inline-block;
  margin: 20px 0 0 0;
}
.AboutUs-container-intro-text p:first-child {
  margin-top: 0;
}/*# sourceMappingURL=aboutus.css.map */