@import "./variables.scss";

// Header styling
section {
    .header {
        width: 100%;
        height: fit-content;
        width: fit-content;
        position: fixed;
        z-index: 4;
        top: 0;
        left: 0;

        .logo {
            img {
                height: 92px;
                margin: 13px 0 0 9px;
            }

            h1 {
                font-size: 60px;
                margin: 0;
                color: black;
            }
        }
    }
}

.container {
    height: 100vh;
    position: relative;
    margin: 0;
    padding: 0;

    .homePage {
        position: absolute;
        z-index: 1;
        margin: 105px auto 0;
        padding-bottom: 55px;
        width: 100%;

        &-intro, &-poster, &-flower, &-contact {
            margin: 0 auto 40px;
            width: 80%;
            max-width: 400px;
            height: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: $light-yellow;
            border-radius: $border-radius;
            box-shadow: $shadow;
            
            &-header {
                @include h1-frontpage;
                width: 100%;
                margin: 0 auto 10px;
            }

            &-img-Maria {
                width: 160px;
                margin: 20px auto;
                border-radius: 8px;
                box-shadow: $shadow;
            }

            &-img-icon {
                width: 140px;
                margin: 10px auto 0;
            }

            #posterIcon {
                margin: 40px auto 10px;
            }
            #flowerIcon {
                margin: 0 auto 10px;
            }
            #contactIcon {
                margin: 40px auto 20px;
            }

            h1 {
                margin: 18px 0 0;
                @include h1-frontpage;

                // img {
                //     width: 38px;
                //     margin: 0 0 -6px 0;
                // }
            }
            &-text-container {
                width: 70%;
                height: fit-content;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0;
                

                p {
                    @include p;
                    display: inline-block;
                    margin: 10px 0 0 0;
                }
            }

            &-readMore-btn {
                @include btn;
            }
        }
    }
}

.overlay {
    display: none;
}

.overlay-visible {
    display: block;
    background-color: rgb(48, 48, 48);
    position: fixed;
    height: 100vh;
    width: 100%;
    opacity: 0.5;
    z-index: 1;
    left: 0;
    top: 0;
}

// Info button 
.InfoBtn {
    .tooltip-btn {
        position: fixed;
        z-index: 4;
        bottom: 20px;
        right: 20px;
        padding: 0;
        height: 55px;
        width: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: $border-radius;
        background-color: $dark-green;
        box-shadow: $shadow;
        border-width: 0;

        img {
            transform: rotate(180deg);
        }
    }

    .info-container {
        display: none;
        width: 80%;
        position: fixed;
        z-index: 4;
        background-color: $light-yellow;
        border-radius: $border-radius;
        box-shadow: $shadow;
        padding: 0 20px 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        h2 {
            margin: 20px 0 0 0;
            font-size: 22px;
        }

        p {
            font-size: 18px;
            font-weight: 500;
            margin: 0 0 0 0;
        }
    }

    .info-visible {
        display: block;
    }
    .info-overlay {
        background-color: rgb(48, 48, 48);
        position: fixed;
        height: 100vh;
        width: 100%;
        opacity: 0.5;
        z-index: 3;
        left: 0;
        top: 0;
        display: none;
    }

    .info-overlay-visible {
        display: block;
    }
}